.main-page
    width 100%
    display flex
    flex-direction row
    justify-content space-around

    &_last
        align-items center
        flex-direction row

    &_block1
        padding-bottom 100px

    &__content-item
        display inline-flex
        flex-direction column
        width 50%
        text-align left
        position relative
        box-sizing border-box

        &_last
            &:first-child
                width 60%

            &:last-child
                width 40%

        &_once
            width 100%

        &_triple
            width 320px
            background-color $lightGrayBackgroundColor
            border-radius 10px
            display inline-flex
            flex-direction column
            text-align center
            padding 20px

        &_text
            &:first-child
                padding-right 20px

            &:last-child
                padding-left 20px

        &_block1
            position static

            &:first-child
                width 60%

            &:last-child
                width 40%

    &__block1-image
        display block
        position absolute
        top -230px
        right -346px

    &__block2-image
        display block
        position absolute
        left 120px
        top 0

    &__block3-image
        display block
        position absolute
        left 80px
        top 40px

    &__triple-block
        padding 0
        display flex
        justify-content center
        flex-direction row
        align-items center

    &__triple-number-info
        padding-left 10px

    &__triple-number
        color $blueColor
        font-size 84px
        font-weight 800

    &__triple-stq
        color $darkenBlueColor
        font-size 28px
        font-weight 800

    &__triple-price
        color $darkenBlueColor
        font-weight 500
        font-size 18px

    &__triple-info
        font-size 14px
        font-weight 400
        color $lightTextColor
        text-transform uppercase

        &_details
            padding 40px
            text-align left
            text-transform none
            line-height 25px

    &__once-string
        color $darkBlueColor
        font-size 28px
        font-weight 600

        span
            font-weight 400