.page
    &__content
        box-sizing border-box
        width 100%
        padding 30px 140px
        @media screen and (max-width 767px)
            padding 15px 10px

        &_padding-top0
            padding-top 0

        &_main-page
            padding-top 100px
            padding-bottom 180px

        &_header
            padding 52px 42px
            @media screen and (max-width 767px)
                padding 15px 10px

        &_footer
            padding 52px 0 52px 140px
            @media screen and (max-width 767px)
                padding 15px 10px

        &_footer-bottom
            padding-top 20px
            padding-bottom 20px