.yellow-button
    background-color #FAB51B !important
    color #050001
    box-shadow 0 2px 4px rgba(0, 0, 0, 0.7)
    text-decoration none
    padding 10px
    text-transform uppercase
    transition all 250ms ease-in-out

    &:hover
        opacity 0.7

    &_bold
        font-weight bold